// these override bootstrap variables

@sansFontFamily:                  "proxima-nova-alt";
@baseFontSize:                    18px;
@baseLineHeight:                  20px;
@bodyBackground:                  @white;
@textColor:                       #333333;

@navbarHeight:                    100px;
@navbarBackground:                @spartanBlue;
@navbarBackgroundHighlight:       @spartanBlue;
@navbarLinkColor:                 #eaf4f9;
@navbarLinkColorHover:            #eaf4f9;

// these are local

@spartanBlue:                     #0287c9;
@spartanBluer:                    #1b5279;
@spartanLessBlue:                 #4bb2ec;

.navbar {
  @brandImgWidth:                   280px;
  @brandImgHeight:                  82px;
  @taglineFontSize:                 43px;
  @navFontSize:                     22px;

  > .navbar-inner {
    padding: 0 100px;
    > .container {
      width: 100%;
    }
  }
  .brand {
    margin-left: 0;
    margin-right: 40px;
    padding: 0;
    > img {
      height: @brandImgHeight;
      width: @brandImgWidth;
      .border-radius(0 0 10px 10px);
      .box-shadow(3px 3px 6px 3px @spartanBluer);
    }
  }
  .nav {
    > li > a {
      @paddingTop: @brandImgHeight - @taglineFontSize - @navFontSize;
      font-size: @navFontSize;
      font-weight: 600;
      padding: @paddingTop 10px 0;
      &:hover {
        font-size: @navFontSize + 1px;
      }
    }
    > .active > a {
      font-size: @navFontSize + 1px;
    }
  }
  .tagline {
    color: @navbarBackground;
    text-align: right;
    font-size: @taglineFontSize;
    line-height: @taglineFontSize;
    font-weight: 600;
    text-shadow: -1px -1px 1px @spartanLessBlue, 1px 1px 1px @spartanBluer;
    text-transform: uppercase;
  }
}

body {
  padding: @navbarHeight+30px 100px 30px;
  /* Default background; used for IE alpha gradient trick */
  background-image: url("../img/background.png");
  /* Chrome && Safari */
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.5)), url("../img/background.png");
  > .container {
    width: 100%;
    background-color: @bodyBackground;
  }
  /* Firefox */
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)), url("../img/background.png");
  /* Opera */
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)), url("../img/background.png");
  /* IE > 6; uses ARGB format */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#77FFFFFF');
}

section {
  @borderWidth: 1px;

  // make the section box contain the h2 box (which has a top margin),
  // otherwise the background gradient starts after the h2 top margin
  // http://stackoverflow.com/questions/1394724/css-margin-top-when-parents-got-no-border
  overflow: auto;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #a6a6a6;
  border-width: @borderWidth 0 0 0;
  margin-top: -@borderWidth;
  background-image: -webkit-linear-gradient(top, #f8f8f8, @white 100px);
  &#_projects {
    border-width: 0;
    margin-top: 0;
  }
}

.target {
  position: relative;
  top: -@navbarHeight;
}

h2 {
  @backgroundWidth: 323px;
  @backgroundHeight: 52px;
  @fontSize: 40px;
  @leftPadding: 50px;
  @vertPadding: (@backgroundHeight - @fontSize) / 2;
  font-size: @fontSize;
  font-weight: 600;
  margin: 30px 0;
  padding: @vertPadding 0 @vertPadding 50px;
  width: @backgroundWidth - @leftPadding;
  background-image: url("../img/section_header_bg.png");
}

h4 {
  display: run-in;
  margin-right: 7px;
  font-size: @baseFontSize;
  font-weight: 600;
}

.intro {
  font-weight: 600;
}

.carousel {
  @captionFontSize: 20px;
  @imgWidthMax: 711px;
  @imgHeightMax: 483px;
  @captionHeight: 30px + 5 * @captionFontSize;  // 5 lines
  width: @imgWidthMax;
  height: @imgHeightMax + @captionHeight;
  margin-left: auto;
  margin-right: auto;
  .item {
    height:  @imgHeightMax + @captionHeight;
    img {
      margin-left: auto;
      margin-right: auto;
    }
    .carousel-caption {
      background: @white;
      h4 {
        display: block;
        color: @textColor;
        font-size: @captionFontSize;
        font-weight: 600;
      }
      p {
        color: @textColor;
        font-size: @captionFontSize;
      }
    }
  }
  .carousel-control {
    width: 38px;
    height: 54px;
    background: white;
    .border-radius(0);
  }
}

#_clients > .row-fluid {
  width: 80%;
  margin: 20px auto;
}

#_expertise, #_about, #_contact {
  > .row-fluid {
    width: 90%;
    margin: 30px auto;
  }
}

#_expertise, #_about {
  > p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

#_contact {
  #contact-form .row-fluid {
    margin: 11px 0;
  }
  input, textarea, button {
    font-size: 16px;
  }
  textarea {
    width: 176px;
    height: 100px;
  }
  button {
    width: 186px;
  }
}

#map {
  width: 100%;
  height: 200px;
}

footer {
  padding: 5px 0;
  color: white;
  background-image: url("../img/footer_tile.png");
  text-align: center;
}
