@import "variables.less";
@import "mixins.less";
@import "spartan-variables.less";

@semiBold: 600;

body {
  padding-top: @navbarHeight;
  padding-bottom: 30px;
  /* Default background; used for IE alpha gradient trick */
  background-image: url("../img/background_textured_300x300.png");
  /* Chrome && Safari */
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.2)), url("../img/background_textured_300x300.png");
  > .container {
    background-color: @bodyBackground;
  }
  /* Firefox */
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .2)), url("../img/background_textured_300x300.png");
  /* Opera */
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .2)), url("../img/background_textured_300x300.png");
  /* IE > 6; uses ARGB format */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#33FFFFFF');
}

.make-navbar (@taglineFontSize, @navFontSize)  {
  .navbar {
    @brandImgWidth:                   289px;
    @brandImgHeight:                  92px;

    .brand {
      margin: 0;
      padding: 0;
      > img {
        height: @brandImgHeight;
        width: @brandImgWidth;
        // IE 8 max-width element disappearing bug
        max-width: none;
      }
    }
    ul.nav {
      float: right;
      margin-right: 0;
      > li {
        font-size: @navFontSize;
        line-height: @navFontSize;
        font-weight: @semiBold;
        @paddingTop: @brandImgHeight - 10px - @taglineFontSize - @navFontSize;
        padding: @paddingTop 0 0 (@navFontSize * .7);
        > a {
          padding: 0;
        }
      }
    }
    .tagline {
      color: @navbarBackground;
      text-align: right;
      font-size: @taglineFontSize;
      line-height: @taglineFontSize;
      font-weight: @semiBold;
      text-shadow: -1px -1px 1px @spartanLessBlue, 1px 1px 1px @spartanBluer;
      text-transform: uppercase;
    }
  }
}
.make-navbar(43px, 22px);
@media (max-width: 979px) {
  // undo bootstrap responsive stuff to make the navbar normal
  .navbar {
    position: fixed;
    .navbar-inner {
      padding: 0;
      .container {
        width: 724px;
      }
      .nav-collapse {
        height: auto;
        clear: none;
        ul.nav > li {
          float: left;
        }
      }
    }
  }
  .make-navbar(30px, 18px);
}
@media (max-width: 767px) {
  body {
    padding-top: 0;
  }
  .navbar {
    position: static;
    .container {
      padding: 0 20px;
      width: auto;
      .nav-collapse {
        display: none;
      }
    }
  }
}

.ie {
  .navbar {
    .tagline {
      color: #183958;
    }
  }
}

section {
  @borderWidth: 1px;

  // make the section box contain the h2 box (which has a top margin),
  // otherwise the background gradient starts after the h2 top margin
  // http://stackoverflow.com/questions/1394724/css-margin-top-when-parents-got-no-border
  overflow: auto;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #a6a6a6;
  border-width: @borderWidth 0 0 0;
  margin-top: -@borderWidth;
  background-image: -webkit-linear-gradient(top, #f8f8f8, @white 100px);
  &#_projects {
    border-width: 0;
  }
}

.target {
  position: relative;
  top: -@navbarHeight;
}

h2 {
  @backgroundWidth: 323px;
  @fontSize: 36px;
  @leftPadding: 50px;
  @vertPadding: 6px;
  font-size: @fontSize;
  line-height: @fontSize;
  font-weight: @semiBold;
  margin: 10px 0 20px;
  padding: @vertPadding 0 @vertPadding @leftPadding;
  width: @backgroundWidth - @leftPadding;
  background-image: url("../img/section_header_bg.png");
}
#_projects h2 {
  margin-bottom: 10px;
}

h4 {
  display: run-in;
  margin-right: 7px;
  font-size: @baseLineHeight;
  font-weight: @semiBold;
}

@media (min-width: 768px) {
  .intro {
    font-weight: @semiBold;
  }
}

// actually the max after applying the negative margin to move ontram, taus
@carouselImgWidthMax: 555px;
@carouselImgHeightMax: 427px;
@carouselControlWidth: 38px;
@carouselControlSpacing: 15px;
.make-carousel (@captionWidth, @captionY, @captionSpacing) {
  .carousel {
    @carouselControlWidth: 38px;
    width: @carouselImgWidthMax + @captionWidth + @captionSpacing + 2 * @carouselControlWidth + 4 * @carouselControlSpacing;
    margin-left: auto;
    margin-right: auto;
    .item {
      text-align: center;
      height: @carouselImgHeightMax;
      .carousel-caption {
        display: inline-block;
        position: static;
        width: @captionWidth;
        vertical-align: top;
        padding: @captionY @captionSpacing 0 0;
        text-align: left;
        background: transparent;
        p {
          color: @textColor;
          line-height: @baseLineHeight;
        }
      }
      img {
        display: inline;
        &#carousel-img-ontram, &#carousel-img-taus {
          margin: 0 -80px;
        }
      }
    }
    .carousel-control {
      top: 30%;
      width: @carouselControlWidth;
      height: 54px;
      background: none;
      background-repeat: no-repeat;
      border: 0;
      .border-radius(0);
      &.left {
        left: @carouselControlSpacing;
        background-image: url("../img/arrow_left.png");
        &:active {
          background-image: url("../img/arrow_left_onpress.png");
        }
      }
      &.right {
        right: @carouselControlSpacing;
        background-image: url("../img/arrow_right.png");
        &:active {
          background-image: url("../img/arrow_right_onpress.png");
        }
      }
    }
  }
}
.make-carousel(220px, 80px, 20px);
@media (min-width: 1200px) {
  .make-carousel(250px, 100px, 30px);
}
@media (max-width: 979px) {
  .carousel {
    @captionLines: 4;
    @captionHeight: @captionLines * @baseLineHeight;
    width: @carouselImgWidthMax + 30px;
    width: @carouselImgWidthMax + 2 * @carouselControlWidth + 4 * @carouselControlSpacing;
    .item {
      height: @carouselImgHeightMax + @captionHeight + 15px;
      .carousel-caption {
        width: @carouselImgWidthMax;
        margin-left: auto;
        margin-right: auto;
        height: @captionHeight;
        position: absolute;
        bottom: 0;
        padding: 10px 15px 5px;
      }
    }
  }
}
@media (max-width: 767px) {
  .carousel {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .item {
      display: block;
      height: auto;
      img {
        display: none;
      }
      .carousel-caption {
        position: static;
        width: auto;
        height: auto;
      }
    }
    .carousel-control {
      display: none;
    }
  }
}

#_clients > .row-fluid {
  width: 80%;
  margin: 20px auto;
}

#_expertise {
  > p {
    width: 80%;
    margin: 0 auto;
  }
  > .row-fluid {
    width: 90%;
    margin: 30px auto;
    > .span3 {
      text-align: right;
    }
  }
}
@media (min-width: 1200px) {
  #_expertise {
    > p {
      width: 70%;
    }
    > .row-fluid {
      width: 80%;
    }
  }
}

#_about {
  > p {
    width: 80%;
    margin: 0 auto;
  }
  > .row-fluid {
    width: 90%;
    margin: 30px auto;
  }
}
@media (min-width: 1200px) {
  #_about {
    > p {
      width: 70%;
    }
    > .row-fluid {
      width: 80%;
    }
  }
}

#_contact {
  > .row-fluid {
    width: 90%;
    margin: auto;
  }
  #contact-form .row-fluid {
    margin: 11px 0;
  }
  input, textarea, button {
    font-size: 14px;
  }
  textarea {
    width: 176px;
    height: 100px;
  }
  button {
    width: 186px;
  }
}

#map {
  width: 100%;
  height: 200px;
}

footer {
  padding: 10px 0;
  color: #DFEAFF;
  background-image: url("../img/footer_tile.png");
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

// vim:filetype=css
